body {
    margin: 0;
  }

  #player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 5vh;
  }

  #board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;
  }
  
  #board-container > div {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid red;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;    
  }

  .cell {
    border: 1px solid black;
    background-color: white;
  }

.playerFilled {
    background-color:red;
}

.computerFilled {
    background-color: blue;
}

#computer-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 5vh;
    margin-top: 5px;
}

.hidden {
  display: none;
}